/* 블럭요소의 안,밖 여백 제거 - 선택자 : 모든 블럭요소 */
body,
h1,
h2,
h3,
h4,
h5,
ul,
ol,
li,
p,
form,
button,
input,
* {
    margin: 0;
    padding: 0;
}

/* li 장식 제거 */
li {
    list-style: none;
}

/* a 글자색, 밑줄 */
a {
    color: #222;
    text-decoration: none;
}

/* img 위아래 정렬 */
img,
video {
    vertical-align: middle;
}

iframe{
    border: 0;
}

/* 폰트 스타일 노멀 */
address,
i,
em {
    font-style: normal;
}

/* .blind 위로 올려서 안뵈게 / section은 제목이 필수, 화면에서는 안보이고 리더기에만 읽히기 위해 blind 사용 */
.blind {
    position: absolute;
    top: -99999px;
}

/* 모든 자식이 float 되면, 부모의 높이가 사라짐 - 부모 높이값 찾기 */
.clearFix::after {
    content: "";
    display: block;
    clear: both;
}

/* body 폰트, 폰트사이즈, 폰트색 */
body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    color: #222;
    line-height: 1;
}