@media screen and (max-width:1920px) {
    #main-banner {
        width: 100%;
        height: 47.46vw;
    }

    .number-wrap {
        display: none;
    }

    .new>.mobile-new {
        display: none;
    }
}

/* moblie~767px */

@media screen and (max-width:767px) {
    .title {
        margin: 60px 0 30px 0;
    }


    body {
        font-size: 12px;
    }

    .gnb,
    #nav,
    .sns,
    .arrow,
    .foot-menu,
    address {
        display: none;
    }

    .title {
        font-size: 2em;
    }

    .title img {
        width: 100px;
    }

    .bx-wrapper .bx-pager.bx-default-pager a {
        display: none;
    }

    #main-banner .control {
        /* background: pink; */
        bottom: 10px;
        left: 40px;
        width: auto;
    }

    #main-banner .control>.b-arrow,
    #main-banner .control>.page {
        display: none;
    }


    .number-wrap {
        display: inline-block;
        background: #fff2ca;
        font-weight: bold;
        color: #9a6533;
        border-radius: 30px;
        padding: 5px 10px;
    }

    #container {
        overflow: hidden;
    }

    #container .new>.img>img {
        display: none;
    }

    .best-wrap>.best {
        overflow-x: scroll;
    }

    .best-wrap>.best::-webkit-scrollbar {
        width: 100px;
        height: 10px;
    }

    .best-wrap>.best::-webkit-scrollbar-thumb {
        height: 30%;
        background: #d7d2cb;
        border-radius: 10px;
    }

    .best-wrap>.best>ul {
        width: 600% !important;
        left: 0;
    }

    .best-wrap>.best>ul>li {
        padding: 0 8px;
    }

    /* .best-wrap>.best>ul>li .back{
        padding: 0 5px;
    } */

    .best-wrap>.best>ul>li .back h3 {
        font-size: 1.2em;
    }


    .best-wrap>.best>ul>li>a {
        height: 60vw;
    }

    .best-wrap>.best>ul>li .front {
        margin-top: 0;
    }

    .best-wrap>.best>ul>li .front>.search {
        display: none;
    }

    .new>.mobile-new {
        display: block;
        background: rgba(0, 0, 0, 0.4);
    }

    .mobile-new>.mobile-img>li img {
        width: 100%;
    }

    #container>.event>.more {
        right: 15px;
        top: 35px;
    }

    #container>.event>ul>li {
        margin-bottom: 50px;
    }

    .event>ul>li img {
        width: 90%;
        margin-top: -10px;
    }

    #container>.event li:first-child,
    #container>.event li:nth-child(2) {
        height: 30vw;
    }

    #container>.store {
        padding: 15px 10px;
    }

    #container>.store>.inner {
        display: block;
    }

    #container>.store>.inner .img-box>img {
        width: 100%;
    }

    #container>.store .map {
        margin-bottom: 20px;
    }

    #container>.store .app {
        margin: 0;
    }

    #container>.store .map .text-box {
        left: 47%;
        top: 5%;
        line-height: 1.5;
    }

    #container>.store .map .text-box>h3 {
        font-size: 1.3em;
    }

    #container>.store .app .text-box {
        top: 20%;
        left: 40%;
    }

    #container>.store .app .text-box>p:last-child {
        margin: 30px 35px;
    }

    #container>.store .app .text-box>hr {
        width: 100px;
    }

    #container>.store .map .text-box>h3 {
        margin-top: 0;
    }

    #container>.store .map .text-box>strong {
        margin-top: 0;
    }

    #container>.store .map .text-box>p:nth-child(4) {
        margin-top: 0;
    }

    #container>.store .map .text-box>.how {
        margin-top: 0;
    }

    #container>.store .map .text-box>.how>p:nth-child(1),
    #container>.store .map .text-box>.how>p:nth-child(2) {
        padding: 2px 5px;
    }

    footer {
        padding: 60px 0;
    }

    .bottom-logo {
        margin-bottom: 20px;
    }

    .bottom-logo>img {
        width: 80%;
    }
}