/* #main-banner */
#main-banner {
    height: 855px;
    padding-top: 80px;
    text-align: right;
    position: relative;
}

.m-banner {
    position: relative;
    height: 100%;
}

#main-banner .m-banner li {
    position: absolute;
    width: 100%;
    text-align: right;
}

#main-banner .m-banner li img {
    width: 100%;
    max-width: 1783px;
}

/* 화살표 */
/* #main-banner .control{
    display: flex;
    position: absolute;
    bottom: 80px;
    align-items: center;
}
#main-banner .control>.b-arrow {
     display: flex; 
    gap: 100px;
}

#main-banner .control>.b-arrow>a {
    position: relative;

}

#main-banner .control>.page {  
    display: flex;
    gap: 20px;
}

#main-banner .control>.page>li>a {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
}

#main-banner .control>.page>.active>a {
    background: #5c4738;
} */
#main-banner .control {
    z-index: 100;
    position: absolute;
    bottom: 100px;
    left: 350px;
    width: 400px;
    bottom: 250px;
}

#main-banner .control .b-arrow>li>a {
    display: block;
    width: 40px;
    height: 40px;
    background: #fff2ca;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    position: absolute;
    z-index: 1000;
}

#main-banner .control .b-arrow>.leftBtn>a {}

#main-banner .control .b-arrow>.rightBtn>a {
    right: 0;
}

#main-banner .control .page {
    margin: 0 28px;
    position: relative;
    /* text-align: right; */
}

#main-banner .control .page>li {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
}

#main-banner .control .page>.b1 {
    background: #fec53a;
    z-index: 3;
}

#main-banner .control .page>.b2 {
    background: #f6842b;
    z-index: 2;
    left: 28px;
}

#main-banner .control .page>.b3 {
    background: #9a6533;
    z-index: 1;
    left: 58px;
}

#main-banner .control .active0 .b2 {
    left: calc(100% - 68px);
    z-index: 2;
}

#main-banner .control .active0 .b3,
#main-banner .control .active1 .b3 {
    left: calc(100% - 38px);
    z-index: 3;
}

/* .best-wrap */
.best-wrap {
    position: relative;
}

.best-wrap>.best {
    overflow: hidden;
}

.best-wrap>.best>ul {
    display: flex;
    width: 125%;
    position: relative;
    left: -12.5%;
    justify-content: space-evenly;
}

.best-wrap>.best>ul>li {
    position: relative;
    width: 20%;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
}

.best-wrap>.best>ul>li>a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 600px;
    border-radius: 30px;
    /* padding-top: 200px; */
    position: relative;

}

.best-wrap>.best>ul>li:nth-child(2n+1)>a {
    background: #f2a900;
}

.best-wrap>.best>ul>li:nth-child(2n)>a {
    background: #826a5c;
}

.best-wrap>.best>ul>li .back {
    /* margin-top: -55px; */
}

.best-wrap>.best>ul>li .back img {
    width: 80%;
    margin-bottom: 30px;
}

.best-wrap>.best>ul>li .back h3 {
    font-size: 1.5em;
    color: white;
}

.best-wrap>.best>ul>li .front {
    opacity: 0;
    position: absolute;
    margin-top: 50px;
    width: 100%;
    text-align: center;
    line-height: 1.5;
}

.best-wrap>.best>ul>li .front h3 {
    font-size: 1.5em;
}

.best-wrap>.best>ul>li .front span {
    display: block;
}

.best-wrap>.best>ul>li .front>.search {
    margin-top: 30px;
}

.best-wrap>.best>ul>li:hover .front {
    opacity: 1;
}

.best-wrap>.best>ul>li:hover .back {
    opacity: 0;
}

.arrow>ul>.left {
    position: absolute;
    left: -7%;
    top: 50%;
}

.arrow>ul>.right {
    position: absolute;
    right: -7%;
    top: 50%;
}

/* .new */
.new {
    position: relative;
}


#container .new>.img>img {
    width: 100%;
}

/* event */
#container {
    overflow: hidden;
}

#container>.event {
    position: relative;
}

#container>.event>.more {
    font-size: 1.2em;
    position: absolute;
    top: 50px;
    right: 150px;
    border-bottom: 2px solid #746062;
    padding-bottom: 2px;
}

#container>.event>.more>a {
    color: #746062;
    font-weight: bold;
}

#container>.event>ul>li {
    height: 350px;
    width: 100%;
    margin-bottom: 100px;
    position: relative;
}

.event>ul>li img {
    margin-top: -2%;
    z-index: 100;
}

#container>.event>ul>li>a {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
}

#container>.event li:first-child::before,
#container>.event li:nth-child(2)::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
}

#container>.event li:first-child {
    background-color: rgba(254, 197, 58, 1);
}


#container>.event li:nth-child(2) {
    background-color: rgba(246, 132, 43, 0.8);
}

/* store */
#container>.store {
    padding: 100px 0;
    background: #dfdfdf;
    display: block;
}

#container>.store>.inner {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

/* store - map */
#container>.store .map {
    position: relative;
    left: 50;
}

#container>.store .map .text-box {
    position: absolute;
    top: 20%;
    left: 50%;
    font-family: 'NanumSquareRound';
}

#container>.store .map .text-box>p:first-child {
    color: #b9aa93;
    font-size: 1.1em;
}

#container>.store .map .text-box>h3 {
    color: #5d4537;
    font-size: 1.84em;
    margin-top: 15px;
}

#container>.store .map .text-box>strong {
    display: block;
    color: #87766e;
    font-size: 1.1em;
    margin-top: 22px;
}

#container>.store .map .text-box>p:nth-child(4) {
    color: #baaea4;
    /* font-size: 1em; */
    margin-top: 8px;
}

#container>.store .map .text-box>p:nth-child(4)>span {
    color: #746062;
    font-size: 0.8em;
}

#container>.store .map .text-box>.how {
    display: flex;
    margin-top: 18px;
}

#container>.store .map .text-box>.how>p:nth-child(1),
#container>.store .map .text-box>.how>p:nth-child(2) {
    padding: 8px 10px;
    margin-right: 4px;
    color: #baaea4;
    font-size: 0.7em;
    border: solid 1px #baaea4;
    border-radius: 30px;
}

/* store - app */
#container>.store .app {
    position: relative;
    margin-left: 25px;
}

#container>.store .app .text-box {
    position: absolute;
    top: 50px;
    left: 50%;
}

#container>.store .app .text-box>p:first-child {
    margin: 0 40px;
    font-size: 1.2em;
    color: #886e61;
}

#container>.store .app .text-box>p:first-child>span {
    color: #664836;
    font-weight: bold;
}

#container>.store .app .text-box>hr {
    margin: -6px 0 0 40px;
    width: 170px;
    height: 8px;
    background-color: #e39c00;
    border-radius: 20px;
    border: 0;
}

#container>.store .app .text-box>p:last-child {
    margin: 65px 42px;
    font-size: 0.9em;
    color: #9f9387;
}